<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
  <title>Авторизация</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="icon.png"></use></svg>
    <span class="fs-4">Кредит банк</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/service" class="nav-link">Услуги</a></li>
  </ul>
</header>



<div class="container col-xl-10 col-xxl-8 px-4 py-5" bis_skin_checked="1">
  <div class="row align-items-center g-lg-5 py-5" bis_skin_checked="1">
    <div class="col-lg-7 text-center text-lg-start" bis_skin_checked="1">
      <h1 class="display-4 fw-bold lh-1 mb-3">Войдите чтобы пользоваться услугами банка</h1>
      <p class="col-lg-10 fs-4">Выдаем кредиты</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5" bis_skin_checked="1">



      <form th:action="@{/login}" method="post" class="p-4 p-md-5 border rounded-3 bg-light">
        <div style="color: red" th:if="${param.error}">
          Неверный логин или пароль
        </div>
        <div style="color: red"th:if="${param.logout}">
          Вы вышли из системы
        </div>
        <div class="form-floating mb-3" bis_skin_checked="1">
          <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Login">
          <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating mb-3" bis_skin_checked="1">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Пароль</label>
        </div>
        <div class="checkbox mb-3" bis_skin_checked="1">
          <label>
            <input type="checkbox" value="remember-me"> Запомнить меня
          </label>
        </div>
        <button type="submit" value="Sign In" class="w-100 btn btn-lg btn-primary">Войти</button>
        <a href="/registration"  class="mt-2 w-100 btn btn-lg btn-primary">Регестрация</a>
        <hr class="my-4">
      </form>
    </div>
  </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>