<header th:fragment="header" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="icon.png"></use></svg>


    <img class="bi me-2" src="icon.png" height="40" width="32"/>
    <span class="fs-4">Кредит банк</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/settings" class="nav-link">Настройки</a></li>
    <li class="nav-item"><form th:action="@{/logout}" method="post"><button type="submit" class="nav-link">Выйти</button></form></li>

  </ul>
</header>