<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>




<!--
<div th:each="user:${allUsers}">
  <p th:utext="${user}"></p>
</div>
-->
<div bis_skin_checked="1">
  <div class="bd-example-snippet bd-code-snippet" bis_skin_checked="1"><div class="bd-example" bis_skin_checked="1">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
      </tr>
      </thead>
        <tbody th:each="user:${users}">
          <tr>
            <th scope="row" th:utext="${user.id}" th:object="${id}">Default</th>
            <th scope="row" th:utext="${user.username}">Default</th>
            <td th:utext="${user.email}"></td>
            <td th:utext="${user.password}"></td>
            <td>
              <a class="btn btn-danger" th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
              <a class="btn btn-danger" th:href="@{/update/{id}(id=${user.id})}">Update</a>
            </td>
          </tr>
        </tbody>
    </table>
  </div></div>
</div>



</body>
</html>