<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<main>
    <div class="container py-4" bis_skin_checked="1">
        <div class="p-5 mb-4 bg-light rounded-3" bis_skin_checked="1">
            <div class="container-fluid py-5" bis_skin_checked="1">
                <h1 th:text="${time}+', '+${name} + '!'" class="display-5 fw-bold"></h1>
                <p class="col-md-8 fs-4" th:if="${card==null}">У вас еще нет карты, создайте ее прямо сейчас! <a href="/newCard" class="btn btn-outline-secondary">Создать новую карту</a></p>
                <p class="col-md-8 fs-4" th:if="${card!=null}">У вас есть карта, хотите ее удалить? <a href="/deleteCard" class="btn btn-outline-secondary">Удалить карту</a></p>
            </div>
        </div>

        <div th:if="${card!=null}" class="row align-items-md-stretch" bis_skin_checked="1">



            <div class="col-md-6" bis_skin_checked="1">
                <div class="h-100 p-5 text-bg-dark rounded-3" bis_skin_checked="1">
                    <h2>Кредит банк</h2>
                    <h2 th:text="${card.number}"></h2>
                    <p th:text="'CVV: ' + ${card.cvv}"></p>
                    <p th:text="'До ' + ${date}"></p>
                    <h2 th:text="${card.balance} + ' RUB'"></h2>
                </div>
            </div>
            <div class="col-md-6" bis_skin_checked="1">

                <p style="color: red" th:if="${message}" th:text="${message}"></p>

                <form th:action="@{/withdraw }" method="post" class="input-group mb-3">
                    <input type="number" name="amount" class="form-control" placeholder="0.0" aria-label="0.0" aria-describedby="basic-addon2">
                    <button type="submit" class="btn btn-outline-secondary">Снять</button>
                </form>

                <form th:action="@{/replenishment }" method="post" class="input-group mb-3">
                    <input type="number" name="amount" class="form-control" placeholder="0.0" aria-label="0.0" aria-describedby="basic-addon2">
                    <button type="submit" class="btn btn-outline-secondary">Пополнить</button>
                </form>



            </div>
        </div>
    </div>
</main>



<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>
