<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="container">
    <form th:action="@{/changeUsername}" method="post" class="row mb-3 text-left" bis_skin_checked="1">
      <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><h4>Поменяйте имя пользователя</h4></div>
      <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><input type="text" name="username" class="form-control"></div>
      <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><button type="submit" class="btn btn-secondary">Поменять</button></div>
    </form>

  <div class="row mb-3 text-left" bis_skin_checked="1">
    <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><h4>Поменяйте почту</h4></div>
    <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><input type="text" class="form-control"></div>
    <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><button type="submit" class="btn btn-secondary">Поменять</button></div>
  </div>

  <div class="row mb-3 text-left" bis_skin_checked="1">
    <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><h4>Поменяйте пароль</h4></div>
    <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><input type="text" class="form-control"></div>
    <div class="col-md-4 themed-grid-col" bis_skin_checked="1"><button type="submit" class="btn btn-secondary">Поменять</button></div>
  </div>
</div>


  <a href="">Поменять имя пользователя</a>
  <a href="">Поменять почту</a>
  <a href="">Поменять пароль</a>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>